<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.apache.tiles.web.startup.simple.SimpleTilesListener</listener-class>
	</listener>
	<filter>
		<filter-name>GeneratePrincipalFilter</filter-name>
		<filter-class>kr.or.ddit.filter.auth.GeneratePrincipalFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GeneratePrincipalFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthencationFilter</filter-name>
		<filter-class>kr.or.ddit.filter.auth.AuthencationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthencationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>kr.or.ddit.filter.auth.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
	    <servlet-name>Tiles Dispatch Servlet</servlet-name>
	    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Tiles Dispatch Servlet</servlet-name>
	    <url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
</web-app>












